@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');



:root {
    --primary-color: rgb(125, 17, 187);
    --tertiary-color: #007bff;
    --secondary-color: #6c757d;
    --surface: #242824;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --border-radius: 5px;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    font-family: 'Outfit', sans-serif;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    align-items: center;
    height: 100px;
}

main {
    background-color: #fff;
    margin-top: 100px;
}

.heading {
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.description {
    width: 80%;
    margin: 20px 5em;
    text-align: center;
}


h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 1rem;
    color: #666;
}


nav ul {
    display: flex;
    list-style: none;
    margin-right: 4em;
}

nav ul li a:hover {
  color: blueviolet;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    cursor: pointer;
    margin: 2px 8px;
    padding: 8px 16px;
    font-weight: 600;
}

#typewriter {
    min-height: 128px;
    transition: height 0.3s ease;
}
#mobile-nav ul {
    flex-direction: column;
    gap: 20px;
    background-color: #333;
    width: 100%;
}

#mobile-nav ul li:first-child:hover {
    background-color: unset;
}

nav ul li:active {
    background-color: unset;
}

#close {
    color: #fff;
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
}

#mobile-nav {
    background-color: #333;
    z-index: 3;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 20px;
    display: none;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    display: none;
    cursor: pointer;
}

#menu ion-icon {
    color: #fff;
    font-size: 30px;
}

#logo-container {
    margin-left: 3em;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

#logo-container > img {
    width: 50px;
    height: 50px;
}

#logo {
    color: rgba(63, 6, 97, 0.7);
}

section {
    min-height: 70vh;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 50px;
}



#hero {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    height: 85vh;
    margin: 0;
    background-color: rgb(109, 4, 169);
    /*background: 
        linear-gradient(135deg, rgba(109, 4, 169, 1), #d4d1d1);
    /* background: rgba(0, 204, 255, 0.6)
        conic-gradient(from 180deg, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)), /* Gradient overlay */
       /* url('assets/background.jpg'); */ /*Background image */
    background: url('assets/color-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
    padding-top: 80px;
}

#hero > div {
    /*border: 1px solid #EEE;*/
    width: 40%;
    margin-top: 50px;
}


.hero-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.cta {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cta img {
    height: 40px;  
    cursor: pointer;
}

.hero-left h1 {
    font-size: 3.5em;
    color: #fafafa;
}

.hero-left p {
    color: #ede6e6;
    font-size: 18px;
}

.hero-left button {
    padding: 8px 20px;
    width: 200px;
    background-color: #000000;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.hero-left button:hover {
    cursor: pointer;
    scale: 1.05;
}

.hero-right {
    position: relative; /* Set the size of your container */
    height: 400px;
    overflow: hidden; /* Ensures the glow stays within the container */
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0 0 20px rgba(22, 22, 22, 0.8); /* Initial glow effect */
    /*animation: rotateGlow 5s linear infinite;*/
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /*filter: hue-rotate(90deg) saturate(1.5); Change image color */
}

.description {
    font-weight: 600;
    font-size: 18px;
}

.heading {
    font-weight: 800;
    font-size: 2em;
}

@keyframes rotateGlow {
    0% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.8);
    }
    25% {
        box-shadow: 0 0 30px 15px rgba(255, 105, 180, 0.8); /* Pinkish glow */
    }
    50% {
        box-shadow: 0 0 40px 20px rgba(0, 204, 255, 0.8); /* Cyan glow */
    }
    75% {
        box-shadow: 0 0 30px 15px rgba(255, 105, 180, 0.8); /* Pinkish glow */
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.8); /* Return to yellow glow */
    }
}

#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding-top: 3em;
}

.product-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
    margin-top: 100px;
    gap: 60px;
    align-items: center;
}

.product-container > div {
    width: 40%;
}

.product-info {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-image:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.product-image img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border-radius: 15px;
}



#features {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-item {
    flex: 1 1 250px; /* Grow and shrink, with a base size of 250px */
    max-width: 300px; /* Optional: Set a max width to limit item size */
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item > p {
    font-size: 0.8rem;
}

.feature-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.feature-icon {
    font-size: 40px;
    margin-bottom: 15px;
    color: rgba(63, 6, 97, 0.7);
}

@media (max-width: 1080px) {

    #hero {
        flex-direction: column-reverse;
    }

    .hero-left {
        justify-content: center;
        align-items: center;
    }

    .hero-left h1{
        text-align: center;
        font-size: 30px;
    }

    .hero-left p {
        text-align: center;
        margin: 0 20px;
    }

    #hero div {
        width: 80%;
    }

    .hero-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
    }

    .hero-right > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #hero {
        justify-content: center;
        align-items: center;
        gap: 15px;
        height: 85vh;
        padding-bottom: 50px;
    }

    .heading {
        font-size: 1.7rem;
    }    
}

@media (max-width: 768px) {

    h3 {
        font-size: 1.25rem;
    }
    p {
        font-size: 0.9rem;
    }

    #webnav {
        display: none;
    }

    #menu {
        display: flex;
    }

    .cta {
        width: 100%;
        justify-content: center;
    }

    .product-container {
        flex-direction: column-reverse;
    }

    .product-container > div {
        width: 80%;
    }

    .middle {
        flex-direction: column;
    }

    .about-content {
        flex-direction: column;
        text-align: center; /* Center text on smaller screens */
    }

    .about-text {
        text-align: center; /* Center the text block */
    }

}

/* Additional styling for smaller screens */
@media (max-width: 480px) {
    .heading {
        font-size: 1.5rem;
    }

    .features {
        padding: 20px;
    }

    .team {
        padding: 20px;
    }
}

#team {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #000000;
    padding: 50px 0;
}

#team .description {
    color: #fafafa;
}

#team .heading {
    color: blueviolet;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the team members */
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.team-member {
    flex: 1 1 250px; /* Grow and shrink, with a base size of 250px */
    max-width: 300px; /* Optional: Set a max width to limit item size */
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.team-member img {
    width: 150px;
    height: 150px;
    background-color: #007bff;
    border-radius: 50%; /* Make the image round */
    margin-bottom: 15px;
    max-width: 150px; /* Limit the image size */
}

.about {
    padding: 60px 20px;
    background-color: #f4f4f4;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Center items vertically */
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.about-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 500px;
    text-align: left;
    padding: 20px;
    gap: 50px;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
}

.about-image {
    flex: 1 1 400px;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    align-self: flex-start;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('assets/company.jpg');
    background-size: cover;
    background-position: center;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 500px;
    src: url('assets/company.jpg'); /* Optional: Limit the image size */
}

.contact {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    flex: 1 1 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info h2,
.contact-info h3 {
    color: #333;
}

.contact-info p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
}

.address {
    margin-top: 20px;
}

.contact-form {
    flex: 1 1 500px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--primary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        max-width: 100%;
    }
}
.footer {
    background-color: #222;
    color: #fff;
    padding: 60px 20px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 5rem;
}

.footer-about,
.footer-links,
.footer-newsletter {
    /*flex: 1 1 300px;*/
    max-width: 350px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer-about h3,
.footer-links h3,
.footer-newsletter h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.footer-about {
    display: flex;
    flex-direction: column;
}

.footer-about p {
    line-height: 1.6;
}

.social-media {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.social-media a {
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: var(--primary-color);
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.footer-links ul li {
    margin-bottom: 10px;
    padding-left: 2px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0;
    margin: 0;
}

.footer-links ul li a:hover {
    color: var(--primary-color);
}

.footer-newsletter p {
    margin-bottom: 20px;
}

.footer-newsletter form {
    display: flex;
    max-width: 375px;
    gap: 10px;
}

.footer-newsletter input[type="email"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.footer-newsletter button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-newsletter button:hover {
    background-color: var(--primary-color);
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 0.85rem;
    color: #777;
}

/* Responsive Design */

@media (max-width: 978px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2em;
    }
}

@media (max-width: 780px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        gap: 5em;
    }
    
    /*
    .footer-about,
    .footer-links,
    .footer-newsletter {
        flex: 1 1 250px;
    }
    */

    .footer-about {
        margin: 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
    }

    .footer-bottom {
        margin-top: 30px;
        padding-top: 10px;
    }

    .footer-about,
    .footer-links,
    .footer-newsletter {
        max-width: 80%;
    }
}

footer {
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: var(--tertiary-color);
    padding: 6em 4em;
    justify-content: flex-start;
    gap: 4em;
}

footer nav {
    display: flex;
    gap: 3em;
    margin-right: 0;
    flex-wrap: wrap;
}

footer .first {
    max-width: 35%;
    color: #fff;
}

footer div p {    
    width: auto;
    color: #fff;
}